{% extends 'layout.html' %}
{% block title %}componentes{% endblock %}
{% block content %}

<h1>reguladores de voltajes</h1>
<img src="/static/image/lm78xx.png">
<form action="#">
    <label for="lang">lm</label>
    <select name="lenguajes" id="lang">
      <option value="" selected disabled>78xx</option>
      <option value="05">7805</option>
      <option value="06">06</option>
      <option value="08">08</option>
      <option value="09">09</option>
      <option value="12">12</option>
    </select>
</form>
{% if session.user_id %}
<button>enviar al carrito</button>
{% endif %}
{% endblock %}