{% extends 'layout.html' %}
{% block title %}compra{% endblock %}
{% block content %}
<div class="info">
    <form action="/carrito" method="POST">
        <div class="resumin">
            <h2>Detalles de la compra:</h2>
            <p>nombre del producto seleccionado: {{nombre}}</p>
            <input type="hidden" name="nombre" value="{{nombre}}">
            {% if not producto %}
            <p>stock: {{ stock }}</p>
            <input type="hidden" name="stock" value="{{stock}}">
            <p>Precio: {{ precio }}C$</p>
            <input type="hidden" name="precio" value="{{precio}}">
            <p>cantidad:</p>
            <input type="number" name="cantidad" min="1" max="50" placeholder="50">
            {% else %}
            <p>tipo: {{ producto }}</p> 
            <input type="hidden" name="tipo" value="{{producto}}">
            <p>stock: {{ stock }}</p>
            <input type="hidden" name="stock" value="{{stock}}">
            <p>Precio: {{ precio }}c$</p>
            <input type="hidden" name="precio" value="{{precio}}">
            <p> ingrese la  cantidad a comprar: <input type="number" name="cantidad" min="1" max="50" placeholder="50"></p>
            {% endif %}
        </div>

        <div class="container text-center">
            <div class="row">
            <div class="col">
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-info" role="alert">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% else %}
                    <div id="liveAlertPlaceholder"></div>
                {% endif %}
                {% endwith %}
                    <button type="submit" class="btn btn-outline-secondary" onclick="agregarAlCarrito()">Enviar al carrito</button>
                    <br><br>
                </div>
            
            </div>
        </div>
    </form>

</div>
<script src="/static/componentes.js"></script>
{% endblock %}