{% extends 'layout.html' %}
{% block title %}inicio{% endblock %}
{% block content %}
<div id="carouselExampleIndicators" class="carousel slide">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div>
      simon
  </div>
{% with messages = get_flashed_messages() %}
        {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-info" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
        {% endif %}
    {% endwith %}
<div class="info">
    <select class="form-select" aria-label="Default select example" onchange="select(this.value);">
        <option selected disabled>¿Qué va a llevar?</option>
        <option value="/arduino">Arduino</option>
        <option value="/componentes">Componentes</option>
        <option value="/dispositivos">Dispositivos</option>
    </select>   
    
    
</div>

{% endblock %}