{% extends 'layout.html' %}
{% block title %}perfil{% endblock %}
{% block content %}

<section class="dashboard section">
	<!-- Container Start -->
	<div class="container">
		<!-- Row Start -->
		<div class="row">
			<div class="col-md-10 offset-md-1 col-lg-4 offset-lg-0">
				<div class="sidebar">
					<!-- User Widget -->
					<div class="widget user-dashboard-profile">
						<!-- User Image -->
						<div class="profile-thumb">
							<img src="{{img}}" alt="foto" class="rounded-circle">
						</div>
						<!-- User Name -->
						<h5 class="text-center">{{f}}</h5>
						<h5 class="text-center">{{correo}}</h5>
            <p>{{descripcion}}</p>
						<a href="/user-profile" class="btn btn-main-sm">Edit Profile</a>
					</div>
					<!-- Dashboard Links -->
					<div class="widget user-dashboard-menu">
						<ul>
							<li class="active" ><a href=""><i class="fa fa-user"></i>historial</a></li>
							<li><a href="/logout"><i class="fa fa-cog"></i> cerrar sesion</a></li>
							<li><a href="/delete"><i class="fa fa-power-off"></i>eliminar tu cuenta permanentemente</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-md-10 offset-md-1 col-lg-8 offset-lg-0">
				<!-- Recently Favorited -->
				<div class="widget dashboard-container my-adslist">
					<h3 class="widget-header">Mi historial</h3>
					<table class="table table-responsive product-dashboard-table">
						<thead>
							<tr>
                <th>#</th>
								<th>nombre del producto</th>
                <th>precio</th>
								<th class="text-center">categoria</th>
								<th class="text-center">fecha</th>
							</tr>
						</thead>
						<tbody>
              {% for i in range(conteo) %}
							<tr>
                <td>{{i}}</td>
								<td class="product-details">
									<h3 class="title">{{nombre[i]}}</h3>
								</td>
								<td class="product-category"><span class="categories">C${{precio[i]}}</span></td>
								<td class="product-details">{{categoria[i]}}</td>
								<td class="product-details">{{fecha[i]}}</td>
							</tr>
              {% endfor %}
						</tbody>
					</table>
					
				</div>
			</div>
		</div>
		<!-- Row End -->
	</div>
	<!-- Container End -->
</section>

{% endblock %}